<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testSuite.ArrayTest"/>
      <class name="testSuite.LoginTest"/>
      <class name="testSuite.GraphTest"/>
      <class name="testSuite.QueueTest"/>
      <class name="testSuite.StackTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
